.board-frame {
  min-width: 90vw;
  min-height: 90vw;
  display: flex;
  flex-flow: column nowrap;
  outline: 2px solid black;
}

.board-row {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
}

.board-cell {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.not-visible {
  visibility: hidden;
}
